:root{
    --picture:100px;
}
body{
    margin:0px;
}
.background{
    background-image:url("https://i.pinimg.com/474x/9c/15/62/9c156236eaf3a297fbe15bb307ac9396.jpg");
    height:100vh;
    background-repeat:no-repeat;
    background-size: cover;
    background-position:center;
    display:flex;
    flex-direction:column;
    justify-content:center;
}

.card{
    box-shadow: 12px 12px 5px 1px wheat;
    width: 280px;
    height: 450px;
    /* Este necesar sa avem un element cu position: relative, atunci cand folosim position: absolute, deoarece elementul cu position: absolute se va ghida dupa primul element cu position: relative (daca nu gaseste niciunul, il va lua pe body ca reper). */
    position:relative;
    margin:auto;
    margin-top: 80px;
    background-color:beige;
    border-radius:10px;
    font-family: "Barlow",sans-serif;
    font-size:14px;
    display:flex;
    flex-direction:column;
    align-items:center;  
}

#poza{
    width:var(--picture);
    height:var(--picture);
    border-radius:50px;
    position:absolute;
    top:calc(10% - var(--picture));
    left:calc(70% - var(--picture));
}

h3{
    padding-top:40px;
}

section{
    font-size: 15px;
}

.company p{
   margin-left:20px;
}

.company img {
    width:150px;
    height:50px;
    margin-top:20px;
    margin-left:60px; 
}

nav img{
   margin-left:20px;   
}

nav img:hover{
    background-color:#808080;
}
